<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="com.yesway.webnotify">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	
	<bean id="bayeux" class="org.cometd.server.BayeuxServerImpl" init-method="start" destroy-method="stop">
		<property name="options">
			<map>
				<entry key="logLevel" value="3" />
				<entry key="timeout" value="30000" />
			</map>
		</property>
		<property name="transports">
			<list>
				<bean id="websocketTransport" class="org.cometd.websocket.server.WebSocketTransport">
					<constructor-arg ref="bayeux" />
				</bean>
				<bean id="jsonTransport" class="org.cometd.server.transport.JSONTransport">
					<constructor-arg ref="bayeux" />
				</bean>
				<bean id="jsonpTransport" class="org.cometd.server.transport.JSONPTransport">
					<constructor-arg ref="bayeux" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="cometdService" class="com.yesway.webnotify.cometd.CometdService">
		<constructor-arg>
			<ref local="bayeux" />
		</constructor-arg>
	</bean>

	<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
		<property name="attributes">
			<map>
				<entry key="org.cometd.bayeux">
					<ref local="bayeux" />
				</entry>
			</map>
		</property>
	</bean>

</beans>
